<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idiomas</title>
<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




</head>

<body>
    
<section id="header">

<div class="container text-center">  

 </div>   
</div>

<div class="scroll-btn">
<div class="scroll-bar"><a href=""><span></span></a></div>

</div>
</section>

<!--        informacion        -->

<section id="user-info">
<div class="nav-bar">   
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/acerca"><img src="/img/r.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         
        <i class="fa fa-bars"></i>


        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/experiencia">Experiencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/educacion">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/idiomas">Idiomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aptitudes">Aptitudes</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
      <!--     idiomas    -->

<div class="acerca container" id="acerca">
<div class="row">
<div class="col-md-6 text-center">   
<img src="/img/4.png" class="de">    
</div>
<div class="col-md-6">
<h3 style="color: rgb(10, 172, 161);"> <i class="fa fa-language"></i> <span> &nbsp </span>
  ​Idiomas</h3>
<p>Inglés: 60% Nivel B1 (CEFR level) Berlitz Proficiency test (international Test of English Proficiency). 


</p>

<div class="skills-bar"> 

  <p>Español Nativo</p>
  <div class="progress">
  <div class="progress-bar" style="width: 100%;">100%</div>
</div>

<p>Inglés</p>
  <div class="progress">
  <div class="progress-bar" style="width: 60%;">60%</div>
</div>



</div>
</div>
</div>
</div>

<!--           Redes sociales -->

<div class="social234-icons">
<ul>
<a href="#"><li><i class="fa fa-linkedin"></i></li></a>
<a href="#"><li><i class="fa fa-twitter"></i></li></a>
<a href="#"><li><i class="fa fa-github"></i></li></a>
<a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
<a href="#"><li><i class="fa fa-instagram"></i></li></a>
<a href="#"><li><i class="fa fa-skype"></i></li></a>


</ul>
</div>





</ul>
</div>
</div>
</div>
</div>

<!--    fin    -->


<!--     contacto     -->

<div class="contacto" id="contacto">
<div class="container text-center">

<p class="text-center"> Contacto:</p>

<div class="row">
<div class="col-md-4">
<i class="fa fa-whatsapp"></i>
<p>+057 313 856 2959</p>
</div>
<div class="col-md-4">
<i class="fa fa-envelope"></i>
<p>rrincong@gmail.com</p>
</div>
<div class="col-md-4">
<i class="fa fa-map-marker"></i>
<p>Bogotá​​ D.C</p>
</div>
</div>
</div>
</div>
</section>
</body>
</html>